/* @import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Kavoon", "Noto Sans TC", sans-serif, cursive;
}

img {
  width: 22px;
  height: 33.24px;
}
